* {
  box-sizing: border-box;
}

html, body {}

body {
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

header > img {
}

header > img {
  max-width: 100px;
}

nav {
  display: flex;
}

nav > span {
  flex: 1 1 48px;
  cursor: pointer;
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
  margin-right: 4px;
}

nav > span:last-child {
  margin-right: 0;
}

span.array {
  display: block;
  padding: 8px;
  margin-bottom: 4px;
}

span.array > span {
  display: block;
  border: 1px solid #466;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #9bb;
}

span.array > span > span {
  display: block;
  padding: 2px 12px;
}


.message {
  display: block;
  background-color: #aaa;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
}
#output {
  display: block;
  font-family: monospace;
  margin: 8px auto;
}

#output > span {
  width: 100%;
}

#output.syncing {
  display: none;
}

.containers .State[data-content="running"] {
  color: green;
}
