html, body {}

body {
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

header > img {
}

header > img {
  max-width: 100px;
}

nav {
  display: flex;
}

nav > span {
  flex: 1 1 48px;
  cursor: pointer;
  border: 1px solid black;
  padding: 12px;
  border-radius: 12px;
  margin-right: 4px;
}


#output {
  font-family: monospace;
  margin: 8px auto;
}

span {
  display: inherit;
}

.containers > span,
.volumes > .Volumes > span,
.services > span {
  display: block;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #9bb;
  border: 1px solid #466;
  border-radius: 8px;
}

.containers > span > *,
.volumes > .Volumes > span > *,
.services > span > * {
  padding: 2px 12px;
}

.containers .Names {
  font-weight: bold;
}

.containers .State, .containers .Status {
  display: inline;
  margin: 0px 8px 0px 0px;
}

.containers > span {
  display: block;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #9bb;
  border: 1px solid #466;
  border-radius: 8px;
}

.containers .Id,
.containers .ImageID,
.containers .Created,
.containers .Labels,
.containers .HostConfig,
.containers .Ports,
.containers .NetworkSettings,
.containers .Mounts,
.services .Endpoint,
.services .ID,
.services .Version,
.services .PreviousSpec,
.services .Labels,
.services .TaskTemplate,
.services .EndpointSpec,
.services .UpdateStatus .StartedAt,
.services .UpdateStatus .CompletedAt,
.services .UpdateStatus .State,
.volumes .CreatedAt,
.volumes .Labels {
  display: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services .Replicas::before {
  content: "Replicas: ";
}

.message {
  display: block;
  background-color: #aaa;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid black;
}
