div#containers {
  display: table;
  font-family: monospace;
}
div.container {
  display: table-row-group;
}
div.labels {
  display: table-header-group;
  font-weight: bold;
}
div.container > *, div.labels > * {
  display: table-cell;
  padding: 4px 8px;
}
